

<% console %>
<%= render 'header' %>

<div style="display: grid; grid-template-columns: 1fr 1fr; grid-gap: 20px; margin: 50px;" >
  <% @movies.each do |movie| %>
  <div style="border: 1px solid black;">
    <img src="<%= movie.poster_url %>" alt="" style="height: 200px; width: 100%; object-fit: cover;">
    <h5><%= movie.title %></h5>
    <p><%= movie.overview %></p>
    <p style="background-color: lightgrey; border: 1px solid black;">
    <%= @bookmarks.find_by(movie_id: movie.id).comment %>
    </p>
    <%# <img src="= movie.poster_url" alt="" style="width: 50px; height: 50px;"> %>
  <%= link_to "Delete bookmark",
  bookmark_path( @bookmarks.find_by(movie_id: movie.id)), method: :delete %>
  </div>
  <% end %>
</div>


<%= link_to "Add bookmark", new_list_bookmark_path(@list) %>
